*
nav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.container{
    color: blue;
}

.input{
    color: rgb(0, 0, 0);
    size: 5pxx;
}

.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;


    